body{
    background: -webkit-linear-gradient(#bb2faf,rgba(179, 182, 15, 0.726));
}
.ejemplos{
    color: rgb(102, 255, 0);
    background-color: rgba(0, 0, 0, 0.39);
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Imagen{
    padding-left: 70px;
    background-color: rgba(0, 0, 0, 0.281);
}
h2{
    font-size: 30px;
    color:rgb(13, 240, 221);
    margin: 0;
    text-align: center;
    padding: 10px;
    background-color:rgba(0, 0, 0, 0.596);
}
h3{
    font-size: 21px;
    color: aqua;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.432);
    margin: 0%;
    padding:8px;
}
.texto-adicional{ 
    transition: 1s;
        background-color: #3498db; 
        padding: 10px;
        margin: 0px;
        color: greenyellow;
        font-size: 0px;
        text-align: left; 
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    }
 .texto-adicional:hover{
    transition: 1s;
    background-color: #3498dbbe;
    font-size: 25px;
    color: red;
    
 }   