body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333; /* Fondo gris claro */
    color: white; /* Color de texto oscuro */

}

.barra-superior {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #3498db; /* Fondo azul */
    color: greenyellow; /* Color de texto blanco */
}

.titulo,
.titulo2 {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
}


.contenido {
    position: relative;
}

.texto-adicional {
    background-color: #3498db; /* Vuelve al fondo azul anterior */
    padding: 10px;
    margin: 10px;
    color: black; /* Color de texto negro para el texto adicional */
}
.cuadro-blanco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #ecf0f1; /* Fondo gris claro para el cuadro blanco */
}

h1{
    font-size: 20px;
    color: black;
    text-align: center;
}
.container {
    position: relative;
    height: 150vh; /* Ajusta según sea necesario */
    overflow: hidden;
}


.animated-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen manteniendo la proporción */
    opacity: 1;
    transition: opacity 0.5s ease; /* Transición de opacidad para la animación */
}

.content {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco semitransparente sobre la imagen */
    position: relative;
    z-index: 2;
}
h2{
    font-size: 30px;
 text-align: center;
    color: black; 
}
   h3,h4{
    font-size: 18px;
    text-align: left;
    color: blue;
   }
   .ejemplos{
font-size: 19px;
text-align: left;
color:green; 
}
.animated-image {
    opacity: 1;
    transition: opacity 0.5s ease; /* Agrega una transición para suavizar el efecto */
}

h4{
    color: black;
    background-color: #3498;
    text-align: center;
    font-size: 24px;
}
h6{
    color:blueviolet;
 text-align: center;
    background-color: wheat;
    font-size: 30px;
  padding: 10px;
}
