.barra-lateral {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    transition: width 0.3s;
}

.barra-lateral:hover {
    width: 150px;
}

.barra-lateral div h1 {
    display: none;
    color: red;
    margin-top: 5px;
    font-size: 14px;

}

.barra-lateral div:hover h1 {
    display: block;
}

.barra-lateral div h2 {
    color:red;
}
.barra-lateral div h3 {
    color: white;
    font-size: 30px;
    margin-bottom: 5px;
}
.soporte{
    margin-top: 260px;
}
h4{
    margin-left: 140px;
    font-size: 20px;
    margin-top: 0px;
    color: rgb(134, 241, 134);
}

.bloque{
    position: absolute;
    margin-left: 160px;
    margin-top: 20px;
}
.Imagen2{
    position: absolute;
    margin-top: 20px;
    margin-left: 750px;
}
.Derechos{
    position: absolute;
    margin-top: 600px;
    margin-left: 1195px;
}
body{
    background: repeating-linear-gradient(
        -47deg,
        purple,
        purple 10px,
        black 1px,
        black 20px
      );
    }
    
.instagram {
    transition: transform 0.3s;
    position: absolute; /* Cambiamos la posición a absolute */
     /*0 Ajustamos la posición desde la derecha */
    top: 250px; /* Ajustamos la posición desde arriba */
    z-index: 1; /* Aseguramos que esté por encima de otros elementos */
}

.instagram:hover {
    transform: translateY(-10px); /* Mueve el enlace hacia arriba */
}

.instagram h1 {
    margin: 0; /* Elimina el margen predeterminado del elemento h1 */
}

.instagram a {
    color: white; /* Cambia el color del enlace */
    text-decoration: none; /* Quita el subrayado predeterminado del enlace */
}


.juego{
    margin-top: 20px;
}
.nuevosfondos{
    margin-top:400px;
    margin-left: 160px;
}
.textarriba{
    font-size: 20px;
    color: aqua;
    background-color: rgba(0, 0, 0, 0.699);
}
.gameimagen2{
    margin-left: 59px;
}
.barra2{
    margin-top: 720px;
    margin-left: 70px;
    position: absolute;
    background-color: #333;
    color: rgb(0, 255, 34);
}